{% extends "layouts/mainLayout.html" %}

{% block title %}

{% endblock %}

{% block body %}
<div style="padding-top: 95px">
    <div class="border_left border_right border_top border_bottom bgtext" style="min-height: 80%; border-radius: 3px; text-align: left;">
        <div style="padding-left:5px; padding-right:5px; text-align:center; color:white">
            <div class="font-regular" style="font-size: 80pt; padding-bottom: 10px;">NelsonTalks</div>
            <div class="font-text font-large" style="padding-bottom: 5px;">Brought to you by DethCubeHax</div>
            <div class="font-text font-medium" style="padding-bottom:25px">Powered by:</div>
            <div style="display: block; padding-bottom:20px">
                <img src="static/Images/flask.png" style="max-height:170px">
                <img src="static/Images/sql.png" style="max-width:220px; transform: translate(-25px, -30px);">
                <img src="static/Images/python.png" style="max-width:170px">
            </div>
            <div class="font-text font-medium" style="padding-bottom: 20px;">
                Credits:
                <div class="font-thumbTitle" style="text-align: left; padding-left: 35px; padding-right: 25px; font-size: 11pt; padding-top: 10px;">
                    <li>W3Schools for their amazing documentation on HTML and CSS, without which much of the javascript wouldn't be possible.</li>
                    <li>Stack Overflow for saving my sanity. (Really, thanks a TON!)</li>
                    <li>Cristopher Hansen over at <a href="https://www.dafont.com/christopher-hansen.d643">DaFont</a> for his gorgeous Carnivalle Freakshow font, beautifying my title 10x :)</li>
                    <li>Daniel Lyons over at <a href="https://www.dafont.com/daniel-lyons.d8711">DaFont</a> for his amazing title font that I use for the page title :D</li>
                    <li>Julieta Ulanovsky over at <a href="https://www.1001freefonts.com/designer-julieta-ulanovsky-fontlisting.php">.1001freefonts</a> for her nice, readable font that I use for the text :D</li>
                    <li>A big shoutout to <a href="https://github.com/RownakCodes">RownakCodes</a> for his magical problem-solving-aura that helped me through much of the dumb mistakes in the making of this site xD</li>
                    <li>And of course a massive shoutout to Littol Sista for ALWAYS inspiring me to continue whenever I felt burnt out (and also for having a bit of problem solving aura too xD) :3</li>
                </div>
            </div>
            <div class="font-text font-large" style="padding-bottom: 10px;">Thank you for using this site!
            </div>

        </div>
    </div>
</div>
{% endblock %}