{% extends "layouts/mainBlogLayout.html" %}

{% block title %}

{% endblock %}


{% block body %}
<link href="static/styles.css" rel="stylesheet">

<script>
    function empty() {
        var x = document.forms["Comments"].comment.value;
        if (x == "") {
            alert("Comment can't be empty");
            return false;
        };
        return true
    }

    var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
</script>

<div style="padding-top: 95px">
    <div class="border_left border_right border_top border_bottom bgtext" style="min-height: 80%; border-radius: 3px; text-align: left;">
        <div style="padding-left:5px; padding-right:5px">
            <div style="padding-top:10px; color:white" class="border_bottom font-text font-medium">
                {% block pageTitle %}{% endblock %}
            </div>
            <div style="color:white" class="font-text">
                Published on {% block date %}{% endblock %}
                {% if session.user_id %}
                <div style="text-align: right; transform: translateY(-15px);">
                    <form action="/readingList" method="POST">
                        <input type="hidden" id="id" name="id" value="{{data['id']}}">
                        <button type="submit" class="readLaterButton">Read Later</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div style="color:white" class="font-thumbTitle font-extra-small">
                {% block content %}{% endblock %}
            </div>
            <div style="padding-bottom: 10px; padding-top:15px; padding-left:15px; color:white" class="font-text border_bottom border_top font-small-medium">
                COMMENTS
                
                {% if session.user_id %}
                <form action="/comments" style="padding-bottom: 15px; padding-top:10px" name="Comments" method="POST" onsubmit="return empty()">
                    <input type="hidden" id="contentID" name="contentID" value="{{data['id']}}">
                    <input style="width:80%" class="searchBar" maxlength="250" type="text" id="comment" name="comment" placeholder="Share your thoughts here!">
                    <button type="submit" class="readLaterButton">Post Comment</button>
                </form>
                {% else %}
                <div style="text-align: right;">
                    <a href="/login">Login</a> or <a href="/register">Register</a> to post comments.
                </div>
                {% endif %}

            </div>
            {% for row in commentData %}
            <div style="padding: 15px">
                <div class="font-text commentBox" style="border: 1px solid #595959">
                    <div class="flex-1" style="text-align: center; padding-right:15px">                
                        <div class="font-text bottomBorder" style="padding-left: 15px; padding-right:15px; padding-top:10px; padding-bottom: 10px;" class="flex-container">
                            <img src="static/Images/user.png" style="width:100px; height:100px">
                        </div>
                        <div style="padding-top: 15px;">{{row['name']}}</div>
                        <div style="padding-bottom: 15px">{{row['commentDate']}}</div>
                        
                        {% if session["user_id"] == row["userID"] %}
                        <form action="/deleteComment" method="POST">
                            <input name="commentID" id="commentID" type="hidden" value="{{row['id']}}">
                            <input name="contentID" id="contentID" type="hidden" value="{{row['contentID']}}">
                            <button class="deleteButton" action="submit">Delete Comment</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="flex-5 border_left" style="padding-left: 15px;">
                        {{row['comment']}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="padding-bottom: 2 5px;"></div>
    </div>
</div>
{% endblock %}