{% extends "layouts/mainLayout.html" %}

{% block body %}

<div style="padding-top: 95px"></div>
<div class="border_left border_right border_top border_bottom bgtext font-text font-medium" style="text-align:center !important;color:white;min-height: 80%; border-radius: 3px; text-align: left;">
    <div style="border-bottom: 1px solid #595959;padding:5px">My Comments</div>
    <div style="padding-top: 15px"></div>
    {% for row in data %}
    <div style="padding: 15px">
        <div class="font-text commentBox font-small" style="border: 1px solid #595959">
            <div class="flex-1" style="text-align: center;">                
                <div class="font-text" style="padding-left: 15px; padding-right:15px; padding-top:10px; padding-bottom: 10px;" class="flex-container">
                    <img src="{{row['path'] + 'images/thumbnail.jpeg'}}" style="width:100px;">
                </div>
                {{row['title']}}
                {% if session["user_id"] == row["userID"] %}
                <form action="/deleteComment" method="POST">
                    <input name="commentID" id="commentID" type="hidden" value="{{row['id']}}">
                    <input name="contentID" id="contentID" type="hidden" value="{{row['contentID']}}">
                    <button action="submit">Delete Comment</button>
                </form>
                {% endif %}
            </div>
            <div class="flex-5 border_left" style="padding-left: 15px; text-align: left;">
                {{row['comment']}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}